<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Login!</h1>
    <form action="/login" method="POST">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="name">
        <button type="submit">Login</button>
    </form>
    <p>Not a user? <a href="/signup">Signup!</a></p>
    <p>Have FB Account? <a href="/login/facebook">Login!</a></p>
</body>
</html>