<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup!</h1>
    <form action="/signup" method="POST">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="password">
        <input type="text" name="name" placeholder="name">
        <button type="submit">SignUp!</button>
    </form>
    <p>Already a user? <a href="/login">Login!</a></p>
</body>
</html>